# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

+ Some popular languages used by Data Scientists
+ Some commonly used libraries by Data Scientists
+ Popular Data Science Tools
+ Simple Arithmetic expressions

Some of the popular langueges that Data Scientists use are:
1. Python
1. R language
1. Julia
1. Java

Some of the commonly used libraries used by Data Scientists include:

* NumPy
* Pandas
* Matplotlib
* Scikit-learn

| Data Science Tools |
| ------------------- |
| Jupyter Notebook |
| MySQL |
| Python |
| GitHub |
| Apache Spark |
| Tensor Flow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
a = 2
b = 5
print("sum of a & b is ", a+b)

sum of a & b is  7

In [5]:
#  This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
min = 200 
hour = min / 60
print(hour)

3.3333333333333335

## Author
Sudarsana Rao