<a href="https://colab.research.google.com/github/sudarsanaraogit/Coursera-files/blob/main/Starter_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Objective

* Jump directly to **top 20%** on the public leaderboard with  this starter notebook.

* This is a starter notebook to get you started with the [Ind vs Aus ML Hackathon](https://datahack.analyticsvidhya.com/contest/the-sledge-hack/).

* In this notebook, we will create a benchmark model by taking into account the average runs scored by the players and average no. of wickets taken by player in the last 5 innings.

In [1]:
!wget https://datahack-prod.s3.amazonaws.com/train_file/data_zpyYWs0.csv

--2023-10-08 04:04:13--  https://datahack-prod.s3.amazonaws.com/train_file/data_zpyYWs0.csv
Resolving datahack-prod.s3.amazonaws.com (datahack-prod.s3.amazonaws.com)... 52.219.158.119, 52.219.62.12, 52.219.66.64, ...
Connecting to datahack-prod.s3.amazonaws.com (datahack-prod.s3.amazonaws.com)|52.219.158.119|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 167889 (164K) [text/csv]
Saving to: ‚Äòdata_zpyYWs0.csv‚Äô

data_zpyYWs0.csv    100%[===================>] 163.95K   245KB/s    in 0.7s

2023-10-08 04:04:14 (245 KB/s) - ‚Äòdata_zpyYWs0.csv‚Äô saved [167889/167889]

In [2]:
!wget https://datahack-prod.s3.amazonaws.com/sample_submission/sample_submission_Gk1Mne1.csv

--2023-10-08 04:04:35--  https://datahack-prod.s3.amazonaws.com/sample_submission/sample_submission_Gk1Mne1.csv
Resolving datahack-prod.s3.amazonaws.com (datahack-prod.s3.amazonaws.com)... 52.219.156.79, 52.219.62.32, 52.219.158.187, ...
Connecting to datahack-prod.s3.amazonaws.com (datahack-prod.s3.amazonaws.com)|52.219.156.79|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 267 [text/csv]
Saving to: ‚Äòsample_submission_Gk1Mne1.csv‚Äô

sample_submission_G 100%[===================>]     267  --.-KB/s    in 0s

2023-10-08 04:04:36 (22.0 MB/s) - ‚Äòsample_submission_Gk1Mne1.csv‚Äô saved [267/267]

In [3]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [4]:
df=pd.read_csv("/content/data_zpyYWs0.csv")

In [12]:
df

,player_id,player_name,runs_scored,wickets,runs_conceded,catches,stumpings,match_date,opposition,match_id
0,1,Pat Cummins,DNB,3,28,0,0,2011-10-19,v South Africa Centurion,1
1,2,Steve Smith,DNB,-,-,0,0,2011-10-19,v South Africa Centurion,1
2,10,Mitch Marsh,8*,1,19,1,0,2011-10-19,v South Africa Centurion,1
3,13,David Warner,20,-,-,0,0,2011-10-19,v South Africa Centurion,1
4,1,Pat Cummins,11*,1,73,0,0,2011-10-23,v South Africa Gqeberha,2
...,...,...,...,...,...,...,...,...,...,...
2570,22,Ravindra Jadeja,DNB,3,35,0,0,2009-10-28,v Australia Nagpur,553
2571,22,Ravindra Jadeja,DNB,2,41,0,0,2009-10-31,v Australia Delhi,554
2572,22,Ravindra Jadeja,23,0,44,1,0,2009-11-05,v Australia Hyderabad,555
2573,22,Ravindra Jadeja,57,0,36,0,0,2009-11-08,v Australia Guwahati,556
2574,22,Ravindra Jadeja,DNB,4,32,0,0,2009-12-21,v Sri Lanka Cuttack,557

In [16]:
df['match_date']= pd.to_datetime(df['match_date'])

In [18]:
batsman = df[(df['runs_scored'] != 'DNB') & (df['runs_scored'] != 'TDNB') & (df['runs_scored'] != 'absent')]

In [19]:
batsman['runs_scored']= batsman['runs_scored'].apply(lambda x:x.replace("*",""))

In [20]:
batsman['runs_scored']=batsman['runs_scored'].astype(int)

In [13]:
batting_stats = batsman.groupby(['player_id', 'player_name']).apply(lambda x: (x.sort_values('match_date', ascending=False)['runs_scored'].values[:5])).reset_index().rename(columns={0: 'runs'}).assign(runs=lambda x: x['runs'].apply(lambda y: sum(y)/len(y)))

TypeError: ignored

In [21]:
bowler = df[df['wickets']!='-']

In [22]:
bowler['wickets']=bowler['wickets'].astype(int)

In [23]:
bowling_stats = (bowler.groupby(['player_id', 'player_name'])
           .apply(lambda x: (x.sort_values('match_date', ascending=False)['wickets'].values[:5]))
           .reset_index()
           .rename(columns={0: 'wickets'})
           .assign(wickets=lambda x: x['wickets'].apply(lambda y: sum(y)/len(y)))
       )

In [24]:
stats=pd.merge(batting_stats,bowling_stats,how='outer')

NameError: ignored

In [ ]:
stats = stats.drop(['player_name'],axis=1)

In [ ]:
stats= stats.fillna(0)

In [ ]:
stats.to_csv("submission(1).csv",index=False)

And here's a sneak peek of **some power-packed tips** to supercharge your starter model:

1. Calculate players' average runs and wickets in their last N innings.
2. Check out how they perform against specific opponents in the same period.
3. Consider their performance on Indian pitches.
4. Build a predictive model using features like the average runs scored in the last 5 innings, their historical performance against a particular opponent and pitch and predict the next match score like a pro! ü§ì

Keep refining your model because there's a chance to win 6.5L INR worth of prizes! üèÜüí∞

Don't miss out on this incredible opportunity. Show us what you've got! üí™